# Node.js
node_modules/
package-lock.json

# Playwright
playwright-report/
test-results/
*.trace

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*

# Compilación y caché
dist/
build/
*.cache

# Configuración de IDEs y sistemas operativos
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archivos grandes innecesarios
*.exe
*.dll
*.zip